<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1>Products</h1>

<% @products.each do |product| %>
  <div>
    <h2><%= link_to product.title, product %></h2>
    <p><%= product.description %></p>
    <p>Price: <%= number_to_currency(product.price) %></p>
    <% if product.image.attached? %>
      <%= image_tag product.image, style: "width: 100px;" %>
    <% end %>
    <%= button_to 'Add to Cart', add_item_cart_path(product_id: product.id), method: :post %>
    <p>Posted by: <%= product.user.name %></p>
  </div>
<% end %>

<%= link_to 'New Product', new_product_path %>

<%
=begin%>
 <div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>

<%= link_to "New product", new_product_path %> 
<%
=end%>
